{% extends "base.html" %}
{% block content %}
	<script type="text/javascript">
		host = true;
	</script>
	<div style="position: fixed; top: 0; top: 0; left: 0; right: 0;">
		<button onclick="javascript:game.advance();">Advance round</button>
		<h1 id="currentround" style="display: inline-block;">current round</h1>
	</div>
	<div class="container">
		<div class="row top align-items-center justify-content-center text-center">
			<!-- Scores will go here -->
			<div class="col-2">
				<h3>Scores</h3>
				<div class="scores" id="scores">
					<!-- Score badges will be generated automatically -->
				</div>
			</div>
			<!-- Actual game content will go here -->
			<div class="col-10 game">
				{% include "rounds/369.html" %}
			</div>
		</div>
	</div>
{% endblock %}